<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjb.mapper.TestMapper">

<select id="result" resultType="com.yjb.mapper.NameVO">
	SELECT 
      CT.idx
      , CT.candle_idx
      , C.name AS name
      , A.name	AS aroma
      , P.name	AS place
      , S.name	AS season
      , T.name	AS time
      , GROUP_CONCAT(CA.candle_add SEPARATOR ',') AS candle_add
   FROM
      candle_tag CT
      , types_of_aroma A
      , types_of_place P 
      , types_of_season S
      , types_of_time T
      , candle_add CA
      , candle C
   WHERE
   	CT.candle_idx=C.idx
   AND
   	CT.aroma=#{search.aroma}
	AND
		A.idx=#{search.aroma}
	AND
		CT.place=#{search.place}
	AND
		P.idx=#{search.place}
	AND
		CT.season=#{search.season}
	AND
		S.idx=#{search.season}
	AND
		CT.time=#{search.time}
	AND	
		T.idx=#{search.time}
	AND
		CT.candle_idx=CA.candle_idx
	GROUP BY 
		CT.idx
</select>

</mapper>